<script id="postTemplate1" type="text/x-handlebars-template">
    <h1 class="my-4">Selection</h1>

    <div class="row justify-content-md-center">
        <div class="col-5 border primary mr-md-2 mb-md-2 p-md-2">
            <div class="media">
                <div class="media-header">
                    <img class="mr-3 rounded-circle" src="http://placehold.it/64x64" alt="Generic placeholder image">
                </div>
                <div class="media-body">
                    <h5><b>Leonard Chucre de Moraes</b></h5>
                    <h5 class="mt-0">@leochucre <small>01/10/2018</small></h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </div>
        </div>
        <div class="col-5 border primary mb-md-2 p-md-2">
            <div class="media">
                <img class="mr-3 rounded-circle" src="http://placehold.it/64x64" alt="Generic placeholder image">
                <div class="media-body">
                    <h5><b>Dérlis Resquin</b></h5><h5 class="mt-0">@derlisnelson <small>01/10/2018</small></h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                </div>
            </div>
        </div>
        <div class="col-5 border primary mr-md-2 p-md-2">
            <div class="media">
                <img class="mr-3 rounded-circle" src="http://placehold.it/64x64" alt="Generic placeholder image">
                <div class="media-body">
                    <h5><b>Philipe Schneider</b></h5><h5 class="mt-0">@xndr <small>01/10/2018</small></h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
                </div>
            </div>
        </div>
        <div class="col-5 border primary p-md-2">
            <div class="media">
                <img class="mr-3 rounded-circle" src="http://placehold.it/64x64" alt="Generic placeholder image">
                <div class="media-body">
                    <h5><b>Leonard Chucre de Moraes</b></h5><h5 class="mt-0">@leochucre <small>01/10/2018</small></h5>
                    Cras sit amet nibh libero, in gravida nulla.
                </div>
            </div>
        </div>
    </div>
</script>