<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SPI - Similar Post Identification</title>

    <link th:href="@{/resources/bootstrap/css/bootstrap.min.css}" href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/resources/style.css}" href="style.css" rel="stylesheet">

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">SPI - Similar Post Identification</a>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div id="main" class="container"></div>

<!--    <footer class="py-5 bg-dark position-absolute w-100">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; 2018</p>
        </div>
    </footer>-->

    <!-- Bootstrap core JavaScript -->
    <script th:href="@{/resources/static/jquery/jquery.min.js}" src="resources/jquery/jquery.min.js"></script>
    <script th:href="@{/resources/static/bootstrap/js/bootstrap.min.js}" src="resources/bootstrap/js/bootstrap.min.js"></script>
    <script th:href="@{/resources/static/handlebars/handlebars-v4.0.12.js}" src="resources/handlebars/handlebars-v4.0.12.js"></script>
    <script th:href="@{/resources/static/script.js}" src="resources/script.js"></script>
    <script>
        $(document).ready(function() {
            JSController.loadPostList(6);
        });
    </script>

    <script id="postTemplate" type="text/x-handlebars-template">
        <div style="display:block; margin-top:20px;">
            <h1 style="display:inline;" class="my-4">{{title}}</h1>

            <div style="display:inline;float:right;" class="slidecontainer">
                Similarity level:
                <input type="range" min="0" max="100" value="70" class="slider" id="slider">
                <span id="similarityLevel" style="font-weight:bold;color:black">70</span><span style="font-weight:bold;color:black">%</span>
            </div>
        </div>
        <div class="row justify-content-md-center">
            {{#each result}}
            <div class="col-5 border primary mr-md-2 mb-md-2 p-md-2" id="id_{{id_post}}" style="cursor:pointer;background-color:#1da1f23b;" onclick="JSController.onClickPost({{id_post}})">
                <div class="media">
                    <div class="media-header">
                        <img class="mr-3 rounded-circle" src="{{author_avatar}}" alt="Generic placeholder image">
                    </div>
                    <div class="media-body position-relative">
                        <div style="display:block;">
                            <h5><b>{{author_name}}</b></h5>
                        </div>
                        <div style="display:block;">
                            <h5 style="display:inline" class="mt-0">@{{author_username}}</h5>
                            <div style="display:inline;float: right;">{{postDate}}</div>
                        </div>
                        <div style="display:block;">{{content}}</div>
                    </div>
                    <img class="img" src="resources/twitter.png"/>
                </div>
            </div>
            {{/each}}
        </div>
    </script>

    <script id="resultTemplate" type="text/x-handlebars-template">
        <h1 class="my-4">{{title}}</h1>
        <div class="row justify-content-md-center">
            {{#each result}}
                <div class="col-5 border primary mr-md-2 mb-md-2 p-md-2" id="result_{{original_id}}" style="background-color:#e6e6fa;">
                    <div class="media">
                        <div class="media-header">
                            <img class="mr-3 rounded-circle" src="{{author_avatar}}" alt="Generic placeholder image">
                        </div>
                        <div class="media-body position-relative">
                            <div style="display:block;">
                                <h5 style="display:inline"><b>{{author_name}}</b></h5>
                                <div style="display:inline; color:#1da1f2;float: right;"><b><i>{{similarity}}</i></b></div>
                            </div>
                            <div style="display:block;">
                                <h5 style="display:inline" class="mt-0">@{{author_username}}</h5>
                                <div style="display:inline;float: right;">{{postDate}}</div>
                            </div>
                            <div style="display:block;">{{content}}</div>
                        </div>
                            <a href="{{link}}" target="_blank" class="brand" ><img class="img" src="resources/twitter.png"/></a>
                    </div>
                </div>
            {{/each}}
        </div>
    </script>

    <script id="loadingTemplate" type="text/x-handlebars-template">
        <h1 class="my-4">{{title}}</h1>
        <div class="row justify-content-md-center">
            <div class="col-5 border primary mr-md-2 mb-md-2 p-md-2" id="loading_{{request.id_post}}" style="cursor:pointer;background-color:#1da1f23b;">
                <div class="media">
                    <div class="media-header">
                        <img class="mr-3 rounded-circle" src="{{request.author_avatar}}" alt="Generic placeholder image">
                    </div>
                    <div class="media-body">
                        <div style="display:block;">
                            <h5><b>{{request.author_name}}</b></h5>
                        </div>
                        <div style="display:block;">
                            <h5 style="display:inline" class="mt-0">@{{request.author_username}}</h5>
                            <div style="display:inline;float: right;">{{request.postDate}}</div>
                        </div>
                        <div style="display:block;">{{request.content}}</div>
                    </div>
                </div>
            </div>
            <img src="resources/loading.gif" alt="Generic placeholder image">
        </div>
    </script>

</body>

</html>
